name: "Build"
on:
  push:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    env:
      RUSTC_WRAPPER: sccache
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, windows-2022]
    steps:
      - uses: actions/checkout@v5

      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rustflags: ""

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Compile
        run: cargo build --release

      - name: Archive artefacts
        uses: actions/upload-artifact@v4
        with:
          name: socute
          path: target/release/socute
